.navDesktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  color: #222;
  background-color: white;
  z-index: 999;
}
.navDesktop .left {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 150px;
  margin-left: -100px;
  transform: rotate(270deg);
}
.navDesktop .right {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  transform: rotate(270deg);
  margin-top: 200px;
  margin-left: -170px;
}
.navDesktop .logo {
  width: 300px;
  position: relative;
}
.navDesktop .logoImg {
  width: 80%;
  height: auto;
}
.navDesktop .link {
  position: relative;
  font-weight: 900;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0 10px;
  transition-duration: 0.2s;
}
.navDesktop .link:hover {
  transition-duration: 0.2s;
  transform: scale(1.2);
}
.navDesktop .socials {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.navDesktop .social a {
  display: block;
  padding: 10px;
}

.header {
  background-image: url(/img/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.header .nameImg {
  width: 100%;
  height: auto;
  text-align: center;
}
.header .headerBox {
  width: 700px;
  margin: 10px 0;
  margin-left: 100px;
}
